*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(153, 168, 200);
    font-family: monospace;
    text-shadow: 2px 2px 9px black;
}

.box1{
    border:5px solid skyblue;
    height: 150px;
    width: 300px;
    text-align: center;
    font-size: 32px;
    font-family: monospace;
    border-radius: 20px;
    box-shadow: 5px 5px yellow;
    padding: 20px;
    font-weight: 600;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

hr{
    margin-top: 5px;
}



 .section2{
    border: 5px solid blue;
    height: 750px;
    display: flex;
    margin-top: 10px;
 }   


.box2{
    border: 2px solid green;
    height: 250px;
    width: 250px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 20px;
    box-shadow: 5px 5px orangered;
    background-color: white;
    position: relative;
}

.box3{
    border: 2px solid green;
    height: 250px;
    width: 250px;
 
    border-radius: 20px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    padding: 20px;
    box-shadow: 5px 5px orangered;
    background-color: white;
    position: absolute;
    right: 35px;
    top: 228px;
}

h6{
    background-color: white;
}

.innerbox{
    border: 2px solid blue;
    height: 170px;
    width: 170px;
    background-color: white;
    padding: 20px;
    margin-left: 20px;
    margin-top: 12px;
}



.circle{
    background-color: rgb(198, 99, 0);
    border: 1px solid orangered;
    border-radius: 100px;
    height: 167px;
    width: 167px;
    padding: 20px;
    margin-left: -20px;
    margin-top: -20px;
}

img{
    padding: auto;
    background-color: transparent;
    height: 150px;
    width: 150px;
    margin-left: -8px;
    margin-top: -12px;
}



.box4{
    border: 2px solid green;
    height: 250px;
    width: 250px;
 
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding: 20px;
    box-shadow: 5px 5px orangered;
    background-color: white;
    position: relative;
    left: 30px;
    bottom: -180px;

}

.box5{
    border: 2px solid green;
    height: 250px;
    width: 250px;
 
    border-radius: 20px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    padding: 20px;
    box-shadow: 5px 5px orangered;
    background-color: white;
    margin-left: 600px;
    position: absolute;
    right: 35px;
    top: 658px;
}

h4{
    margin-top: 1px;
    margin-bottom: 6px;
    background-color: white;
    font-size: 30px;
    padding: 1px;
}

h5{
    margin-top: 5px;
    background-color: white;
}

.lists{
    background-color: white;
}
#number{
    background-color: white;
}

.section3{
    border: 7px solid rgb(64, 64, 222);
    margin-top: 10px;
    height: 750px;
    width: 980px;
    margin-left: 280px;

  
    font: center;
    background-color: rgb(0, 233, 221);


}

h1{
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    background-color: rgb(0, 233, 221);
}

.fruits{
    border: 2px solid rgb(54, 54, 233);
    height: 250px;
    width: 400px;
    margin-top: 60px;
    margin-left: 30px;
    font-weight: 500px;

    text-align: center;
    font-size: 20px;

    padding: 20px;

    background-color: white;
 
}

.vegetables{
    border: 2px solid rgb(54, 54, 233);
    height: 250px;
    width: 400px;
    margin-left: 535px;
    margin-top: -252px;

 
    font-weight: 500px;
    position: absolute;

    text-align: center;
    font-size: 20px;

    padding: 20px;

    background-color: white;

}

.Otheritems{
    border: 2px solid rgb(54, 54, 233) ;
    height: 265px;
    width: 908px;
    margin-left: 30px;
    margin-top: 70px;
    padding: 30px;
    

 
    font-weight: 500px;
    position: absolute;

    text-align: center;
    font-size: 20px;
    position: relative;

    

    background-color: white;


}
p{
    margin-top: 10px;
    background-color: white;
}

pre{
    border: 5px solid orangered;
    height: 80px;
    width: 700px;
    text-align: center;
    padding: 5px;
    font-size: 23px;
    border-radius: 50px;
    margin-left: 400px;
    background-color: yellow;
    bottom: 0;
    position: fixed;
}